<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.bookyourtable">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ChangeDatasActivity"
            android:label="@string/modifyAReservation"
            android:parentActivityName=".ReservationsListActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".ReservationsListActivity"/>
        </activity>

        <activity android:name=".ReservationsListActivity"
            android:label="@string/manageBooking"
            android:parentActivityName=".BookingsDateActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".BookingsDateActivity"/>
        </activity>

        <activity android:name=".BookingsDateActivity"
            android:label="@string/manageBooking"
            android:parentActivityName=".MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity"/>
        </activity>

        <activity android:name=".table.MainTableManagement"
            android:label="@string/manageTables"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity android:name=".ConfirmationActivity" />

        <activity
            android:name=".BookingDatasActivity"
            android:label="@string/newReservationMenu"
            android:parentActivityName=".MainBookingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainBookingActivity" />
        </activity>

        <activity
            android:name=".MainBookingActivity"
            android:label="@string/newReservationMenu"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>